.section1 {
    font-size: 28px;
    scroll-margin-top: 130.5px;
    background-color: rgb(245, 240, 230);
    padding: 20px;
}

.section2 {
    font-size: 28px;
    scroll-margin-top: 130.5px;
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg'); 
    color: white; 
    padding: 20px;
}

.navBar {
    font-size: 28px;
    position: sticky;
    top: 0; 
    overflow: hidden;
    scroll-margin-top: 30;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #182b49;  
        color: white;               
      }
}

.nav-header{
  background-color: white;
}

.nav-logo {
  max-width: 400px;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  justify-content: center;
  grid-auto-rows: minmax(100px, auto);
}

.box-section {
  max-height: 500px;
  overflow: scroll;
  grid-row: 1/4;
  color: white;
  background-color: #182b49;
  
}